:host{
  display: block;
  width: 100%;
  min-height: calc(100vh - 4rem);
  margin-top: 5rem;
}

.icon{
  cursor: pointer;

}
.icon:hover{
  box-shadow: 0px 0px 1px 1px rgb(113, 113, 113);
}
.tbl{
  box-shadow: 3px 3px 3px 3px rgb(156, 155, 155);
  border-radius: 10px;
  max-width: 70%;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.add-Reason{
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  justify-content: center;
  align-items: center;
}
.subscribe-popup{
  display: flex;
  width: 30rem;
  min-height: 18rem;
  max-height: 47rem;
  background-color: white;
  margin: auto;
  margin-top: 10rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: content-box;
  flex-direction: column;
}
.No{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #dc3545;
  text-align: center;
  color: white;
  width: 7rem;
  height: 2rem;
}
.Yes{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgb(93, 218, 133);
  text-align: center;
  color: white;
  width: 7rem;
  height: 2rem;
}
