:host {
  display: block;
  width: 100%;
  min-height: calc(100vh - 4rem);
  margin-top: 5rem;
}
.subscribe-popup{
  width: 25rem;
  max-height: 90vh;
  background-color: white;
  margin: auto;
  margin-top: 10rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: content-box;
}
input{
  margin-bottom: 10px;
}
