:host{
  display: block;
  width: 100%;
  min-height: calc(100vh - 4rem);
  margin-top: 5rem;
}

.icon{
  cursor: pointer;

}
.icon:hover{
  box-shadow: 0px 0px 1px 1px rgb(113, 113, 113);
}
.tbl{
  box-shadow: 3px 3px 3px 3px rgb(156, 155, 155);
  border-radius: 10px;
  max-width: 70%;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
